@if ( film | async; as film )
{
<sw-details-view [paths]="breadcrumbPaths">
    <ng-container title>
        {{film.title}}
    </ng-container>
    <div class="text-muted justify-self-end">Directeur</div>
    <div>{{ film.director }}</div>
    <!--  -->
    <div class="text-muted justify-self-end">Réalisateur</div>
    <div>{{ film.producer }}</div>
    <!--  -->
    <div class="text-muted justify-self-end">Date de sortie</div>
    <div>{{ film.release_date }}</div>
    <!--  -->
    <div class="text-muted justify-self-end">Opening crawl</div>
    <div>{{ film.opening_crawl }}</div>
    <!--  -->
    <div class="text-muted justify-self-end">Les personnages</div>
    <ul>
        @for (character of film.characters; track character) {<li><span class="text-xs">{{character}}</span></li>}
        @empty {<div class="text-muted">Il n'y a aucun personnage dans le film.</div>}
    </ul>
    <!--  -->
    <div class="text-muted justify-self-end">Les espèces</div>
    <ul>
        @for (species of film.speciesUI; track species) {<li><a class="link" [routerLink]="['/species', species.id]">{{ species.url }}</a></li>}
        @empty {<div class="text-muted">Aucune espèce.</div>}
    </ul>
    <!--  -->
    <div class="text-muted justify-self-end">Les véhicules</div>
    <ul>
        @for (vehicle of film.vehiclesUI; track vehicle) {<li><a class="link" [routerLink]="['/vehicle', vehicle.id]">{{ vehicle.url }}</a></li>}
        @empty {<div class="text-muted">Aucun véhicule.</div>}
    </ul>
    <!--  -->
    <div class="text-muted justify-self-end">Les vaisseaux</div>
    <ul>
        @for (starship of film.starships; track starship) {<li><span class="text-xs">{{ starship }}</span></li>}
        @empty {<div class="text-muted">Aucun vaisseau.</div>}
    </ul>
</sw-details-view>
}
@else {
    @if (loading)
    {
        <div class="px-20 py-14">
            <sw-breadcrumb [paths]="breadcrumbPaths"></sw-breadcrumb>
            <sw-empty-block>
                Chargement...
            </sw-empty-block>
        </div>    
    }
    @else
    {
        <div class="px-20 py-14">
            <sw-breadcrumb [paths]="breadcrumbPaths"></sw-breadcrumb>
            <sw-empty-block>
                Aucun film trouvé !
            </sw-empty-block>
        </div>
    }
}