@if ( vehicle | async; as vehicle )
{
    <sw-details-view [paths]="breadcrumbPaths">
        <ng-container title>
            {{vehicle.name}}
        </ng-container>
            <div class="text-muted justify-self-end">capacité de chargement </div>
            <div>{{ vehicle.cargo_capacity }}</div>

            <div class="text-muted justify-self-end">consommables </div>
            <div>{{ vehicle.consumables | MaybeUnknown }}</div>

            <div class="text-muted justify-self-end">Crédit </div>
            <div>{{ vehicle.cost_in_credits | MaybeUnknown }}</div>

            <div class="text-muted justify-self-end">Équipage</div>
            <div>{{ vehicle.crew }}</div>

            <div class="text-muted justify-self-end">Largeur du véhicule (en mètres)</div>
            <div>{{ vehicle.length | MaybeUnknown }}</div>

            <div class="text-muted justify-self-end">Constructeur</div>
            <div>{{ vehicle.manufacturer }}</div>

            <div class="text-muted justify-self-end">Vitesse maximale en atmosphère</div>
            <div>{{ vehicle.max_atmosphering_speed }}</div>

            <div class="text-muted justify-self-end">Modèle</div>
            <div>{{ vehicle.model }}</div>

            <div class="text-muted justify-self-end">Passagers</div>
            <div>{{ vehicle.passengers }}</div>

            <div class="text-muted justify-self-end">Classe du véhicule</div>
            <div>{{ vehicle.vehicle_class }}</div>

            <div class="text-muted justify-self-end">Pilotes</div>
            <ul>
                @for (pilot of vehicle.pilots; track pilot) {<li><span class="text-xs">{{pilot}}</span></li>}
                @empty {<div class="text-muted">Il n'y a aucun pilote pour ce vehicle.</div>}
            </ul>

            <div class="text-muted justify-self-end">Films</div>
            <ul>
                @for (film of vehicle.filmsUI; track film) {<li><a class="link" [routerLink]="['/film', film.id]">{{ film.url }}</a></li>}
                @empty {<div class="text-muted">Aucune film.</div>}
            </ul>
    </sw-details-view>
}
@else {
    @if (loading)
    {
        <div class="px-20 py-14">
            <sw-breadcrumb [paths]="breadcrumbPaths"></sw-breadcrumb>
            <sw-empty-block>
                Chargement...
            </sw-empty-block>
        </div>    
    }
    @else
    {
        <div class="px-20 py-14">
            <sw-breadcrumb [paths]="breadcrumbPaths"></sw-breadcrumb>
            <sw-empty-block>
                Aucun véhicule trouvé !
            </sw-empty-block>
        </div>
    }
}